<link rel="stylesheet" href="/header/public.css">
<div class="header">
  <div class="container d-flex h-100 align-items-center text-center">
    <div class="mx-auto">
      <img class="logo" src="/img/logo.png" />
      <h3><%= title %></h3>
    </div>
  </div>
</div>
<script src="/header/public.js" charset="utf-8"></script>
