<link rel="stylesheet" href="/social/social.css" />

<div class="social-media">
  <a href="https://www.instagram.com/angular.mk/" target="_blank" class="mx-2 ic-logo fa-2x">
    <i class="fab fa-instagram"></i>
  </a>
  <a href="#" target="_blank" class="mx-2 ic-logo fa-2x">
    <i class="fab fa-reddit"></i>
  </a>
  <a href="https://discord.gg/Kw64Zp" target="_blank" class="mx-2 ic-logo fa-2x">
    <i class="fab fa-discord"></i>
  </a>
</div>

<script src="/social/social.js" charset="utf-8"></script>
