<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Payment - Angularmk</title>
  </head>
  <body>

    <h1>Paypal Integration</h1>

    Value: 0.01CAD

    <form action="https://angularmk.xyz/payment-api/test-site" method="post">
      <div>
        <button>Enter Payment</button>
      </div>
    </form>

  </body>
</html>
